@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Index</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true">
    <title>Sign In</title>
</head>
<body>
<header>
    <nav>
        @* <ul class="nav-links"> *@
        @*     <li><a href="main_page.html">Main Page</a></li> *@
        @*     <li><a href="courses.html">Courses</a></li> *@
        @* </ul> *@
        
        <div class="user-box">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="LoginView">Sign In</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Registration">Sign Up</a>
        </div>
    </nav>
</header>
</body>
</html>
