@model LearningManagementSystem.Web.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Courses" asp-action="Create" method="post" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <button type="button" id="addMaterialButton" class="btn btn-secondary">Add Material</button>
            </div>
            
            <div class="material-fields">

            <div class="form-group">
                            <label asp-for="MaterialTitle" class="control-label"></label>
                            <input asp-for="MaterialTitle" class="form-control" />
                            <span asp-validation-for="MaterialTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaterialDescription" class="control-label"></label>
                            <input asp-for="MaterialDescription" class="form-control" />
                            <span asp-validation-for="MaterialDescription" class="text-danger"></span>
                        </div>

           
            <div>
                <label for="formFileLg" class="form-label">Product Image</label>
                <input class="form-control form-control-lg mb-3" asp-for="Image" type="file">
            </div>
               <button class="btn btn-dark" type="submit">Save Course</button>

    </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Hide the Material form fields initially
            $('.material-fields').hide();

            // Toggle Material form fields when the "Add Material" button is clicked
            $('#addMaterialButton').click(function () {
                $('.material-fields').toggle();
            });
        });
    </script>
}

