@model LearningManagementSystem.Web.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Courses" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ImagePath"/>
        <div>
            <img style="width: 100px; height: 100px;" src="@(string.IsNullOrEmpty(Model.ImagePath) ? "/images/No-Image-Placeholder.svg.png":"/images/"+Model.ImagePath)" />
        </div>
        <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
                        <label asp-for="MaterialTitle" class="control-label"></label>
                        <input asp-for="MaterialTitle" class="form-control"/>
                        <span asp-validation-for="MaterialTitle" class="text-danger"></span>
                    </div>
        <div class="form-group">
            <label asp-for="MaterialDescription" class="control-label"></label>
            <input asp-for="MaterialDescription" class="form-control"/>
            <span asp-validation-for="MaterialDescription" class="text-danger"></span>
        </div>
        <div>
                        <label for="formFileLg" class="form-label">Product Image</label>
                        <input class="form-control form-control-lg mb-3" asp-for="Image" type="file">
                    </div>
        
        <div class="form-group">
                <input type="submit" value="Update Course" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

