@model LearningManagementSystem.Web.ViewModels.LoggedInUserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
@{
    if (Model == null)
    {
        <p>Welcome, Guest!</p>   
    }
    else
    {
        <p>Welcome, @Model.Username!</p>
    }
}

<!-- Other HTML and Razor code to display additional ViewModel properties -->

</body>
</html>